.title-container{
  text-align: center
}

.main-flex {
  display: flex;
  justify-content: space-around;
}

ul {
  padding-left: 20px;
}

.preview-box {
  height: 300px;
  width: 471px;
  background: deepskyblue;
  text-align: left;
}
